ipykernel
transformers
datasets
torch 
scikit-learn
torchvision
matplotlib
#this is the library. for downloading youtube videos
yt-dlp
# for lip detection
mediapipe == 0.10.9
opencv-python

# for swinTransformerfromscratch

einops
